html {
	background-color: black;
	color: grey;
}

button {
	border-radius: 5px;
	background-color: grey;
	color: black;
	border: solid 1px grey;
}

input {
	border-radius: 5px;
	color: black;
	background-color: grey;
	border: solid 1px grey;	
}

#menu {
	background-color: grey;
	color: black;
}

#CountDown {
	color: red;
	font-size: 50px;
	background-color: black;
	width: 300px;
	text-align: center;
}
#cd-buttons{
	border-radius: 0px;
	border-color: black;
	float: left;
	height: 50%;
	width: 33%;
}

#cd-buttons:hover{
	background-color: lightgray;
}

.menu-buttons {
	float: left;
	border-color: black;
	text-align: center; 
	background-color: grey;
	width: 100px;
	border-radius: 0px;
	border-style: solid;
}

.menu-buttons:hover {
	background-color: lightgray;
}

.ButtonArea {
	width: 300px;
}