<div ng-controller="addButt">
	<form name="addButton">
		<p id="Zeiteingabe">
			<input type="text" id="min" name="min" required ng-model="min" placeholder="minutes">
			<input type="text" id="sec" name="sec" required ng-model="sec" placeholder="seconds">
		<p>
		<span class="error" ng-show="addButton.min.$error.required">Enter the Minutes</span>
		</p>
		<p>
		<span class="error" ng-show="addButton.sec.$error.required">Enter the Seconds</span>
		</p>
		<button id="addNew" ng-click='addNewButton(min,sec)'>Add new Timer</button>
	</form>
	<p id="addButtHTMLStatus"> {{addButtHTML}}</p>
	{{addButtError}}
</div>