<!DOCTYPE html>
<html>
	<body>
		<div id="CountDown">
			<p>{{timer}}</p>
		</div>
		<div class="ButtonArea">
			<button ng-repeat="knopf in buttonList.knopf" 
				ng-click='cdstart(knopf.Minuten,knopf.Sekunden)' id="cd-buttons">
				{{knopf.Minuten}}:{{knopf.Sekunden}}
			</button>
		</div>
	</body>
</html>
