<!DOCTYPE html>
<html>
	<body>
		<br>
		<div>Select a button to delete:</div>
		<div ng-controller="delButt" class="ButtonArea">
		<button ng-repeat="knopf in buttonList.knopf" id="cd-buttons"
			ng-click='delButton($index)'>
			{{knopf.Minuten}}:{{knopf.Sekunden}}
		</button>
		</div>
	</body>
</html>
